extends layout

block content
	h1 Kia ora!
	p So you want to contribute to:
	strong #{locals.description}?
	p Please, be our guest...
	form(action="/invoice", method="post")
		label(for='name') #[strong name: ]
		input(id='name', type='text', placeholder='Your name ;)', name='name', required)
		br
		br
		label(for='email') #[strong email: ]
		input(id='email', type='email', placeholder='email@whatever.com', name='email', required)
		br
		br
		label(for='contribution') #[strong $$: ]
			input(id='contribution', type='number', placeholder="what you think it's worth", name='contribution', required)
		br
		br
		label(for='payGst') #[strong Pay GST? ]
		input(id='payGst', type='checkbox', name='payGst')
		br
		br
		br
		input(type='submit', value="Invoice me - let's do this!")


