extends layout

block content
	h1 Kia ora!
	p So you want to contribute to:
	strong #{locals.description}?
	p Please, be our guest...
	form(action="/invoice", method="post")
		label(for='name') #[strong Name: ]
		input(id='name', type='text', placeholder='Your name ;)', name='name', required)
		div The legal entity you would like the invoice made out to
		br
		label(for='email') #[strong Email: ]
		input(id='email', type='email', placeholder='email@whatever.com', name='email', required)
		br
		br
		label(for='contribution') #[strong $$: ]
			input(id='contribution', type='number', placeholder="your contribution", name='contribution', required)
		div In NZD
		br
		label(for='payGst') #[strong Include GST? ]
		input(id='payGst', type='checkbox', name='payGst', checked='checked')
		div (Untick this if you are not in NZ)
		br
		label(for='message') #[strong Message: ]
		br
		textarea(id='message', type='text', placeholder='Whatever you like', name='message')
		br
		br
		input(type='submit', value="Invoice me - let's do this!")


