extends layout

block content
	h1 Thanks!
	p Our admin will email your invoice to you in a jiffy.
	p If you want to erode an unneccessary livelihood and get your invoice instantly, upvote this Xero API feature request: 
		a(href='https://xero.uservoice.com/forums/5528-xero-core-api/suggestions/1930769-be-able-to-email-approved-invoices-via-the-api') 'Be able to email approved invoices via the API'
	a(class='button', href='/') Again, again!
	
		