extends layout

block content
	h1 tēnā rawa atu koe!
	p Our admin will email your invoice to you in a jiffy.
	p
	p If you want to help destroy our wonderful admin's mind-numbing job so they can get on with creating and being a free human (and if you want your invoice instantly): 
	p upvote this Xero API feature request: 
		a(href='https://xero.uservoice.com/forums/5528-xero-core-api/suggestions/1930769-be-able-to-email-approved-invoices-via-the-api') 'Be able to email approved invoices via the API'
	p
	p Nga mihi
	p
	p your friendly cobudget crew
	a(class='button', href='/') Again, again!

		