extends layout

block content
	h1 tēnā rawa atu koe!
	p Our admin will email your invoice to you in a jiffy.
	p If you want to help destroy our wonderful admin's mind-numbing job so they can get on with creating and being a free human #[strong (and if you want your invoice instantly)]: upvote this Xero API feature request: #[a(href='https://xero.uservoice.com/forums/5528-xero-core-api/suggestions/1930769-be-able-to-email-approved-invoices-via-the-api') 'Be able to email approved invoices via the API'].
	p Nga mihi
	p your friendly cobudget crew
	br
	a(class='button', href='/') Again, again!

		